body{
    
    background-color: var(--bs-dark);
    font:1rem/1.5 var(--bs-font-sans-serif);
    color: var(--bs-white);
}
.style-m2{ 
    flex-grow: 0;   
}
.navbar-brand {
    padding-left: 65px;
}
header{
    background-image: url(https://quezzle.se/img/header-bg.jpg);
    background-repeat: no-repeat;
    z-index: 3;
}

.navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.2);
}
.btn {
    padding: 20px 40px;
    font-size: 14px;
    background-color: rgba(75,26,68,.4);
    font-weight: 700;
    border-radius: 4px;
    border-color: #fff;
}
